body {
    padding-top: 80px;
}
#recipe-header {
        font-family: 'Playwrite AU SA', sans-serif;
}
.large-label {
    font-size: 1.25rem;
    font-weight: bold;
}
.ingredient-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.ingredient-row input {
    flex: 1;
}
.button-container {
    display: flex;
    justify-content: center;
}